backup 20-07-2025/Lembretes_Diarios.json
{
  "name": "Lembretes Diários",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "937ecac3-6e83-41ad-b552-39f132dbf551",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const item = { json: {} };\nconst agora = new Date();\n\n// Inicia com \"amanhã\"\nlet proximoDia = new Date(agora);\nproximoDia.setDate(agora.getDate() + 1);\n\n// Lógica para pular fim de semana\nif (proximoDia.getDay() === 6) { // Se amanhã é Sábado (6)\n  proximoDia.setDate(proximoDia.getDate() + 2);\n} else if (proximoDia.getDay() === 0) { // Se amanhã é Domingo (0)\n  proximoDia.setDate(proximoDia.getDate() + 1);\n}\n\n// Define o início e o fim do dia para a busca\nconst inicioDoDia = new Date(proximoDia.setHours(0, 0, 0, 0));\nconst fimDoDia = new Date(proximoDia.setHours(23, 59, 59, 999));\n\n// Disponibiliza as datas no formato ISO, que o Google Calendar espera\nitem.json.dataInicioBusca = inicioDoDia.toISOString();\nitem.json.dataFimBusca = fimDoDia.toISOString();\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "1cef2a15-40e8-47cd-ae7f-fd25b9ad7197",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "d2cf04cb8237a7f7c17b6eabc6a8710031dd12ee9ad4bc62cd6b635a6a514920@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Clínica (teste)"
        },
        "timeMin": "={{ $json.dataInicioBusca }}",
        "timeMax": "={{ $json.dataFimBusca }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "8fd3dda9-4c54-4e5b-b426-5a2d681a69ba",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PDf0WplvBrdHjRCL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        0
      ],
      "id": "21bed2b2-a6c0-423e-8a7f-4cf7b102a444",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "48b3baf6-660d-4fe6-b116-748dcb645b8c"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\n\n// Pega o título, ex: \"Manuel Portela - AGD---1752496258987\"\nconst titulo = item.json.summary;\n\n// Pega o que vem depois do \" - \"\nconst partes = titulo.split(' - ');\nconst idAgendamento = partes[1] || null; // Pega a segunda parte, ou nulo se não encontrar\n\nif (idAgendamento) {\n  item.json.idAgendamentoParaBusca = idAgendamento.trim();\n} else {\n  // Se não encontrar o ID, cria um erro para parar o processamento deste item\n  item.json.error = \"Não foi possível extrair o ID do Agendamento do título do evento.\";\n}\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -160
      ],
      "id": "bc9c24d0-9568-4bf0-aa7f-7fbef37182dc",
      "name": "Code1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hLeRmvHSWXUS9InLi_F0NYvQBVHyayxZM_Ll7Mm8E9A/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agendamentos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLeRmvHSWXUS9InLi_F0NYvQBVHyayxZM_Ll7Mm8E9A/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Agendamento",
              "lookupValue": "={{ $json.idAgendamentoParaBusca }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1100,
        -160
      ],
      "id": "0cb08394-163a-4bc3-b15d-cf2aa1fe35ca",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LDQgaDGxcuGGtKO0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "manuelportela@cloudmatrix.com.br",
        "toEmail": "={{ $json.Email }}",
        "subject": "Confirme sua consulta de amanhã - OdontoFlow",
        "html": "=<h3>Olá, {{ $json.Paciente }}!</h3>\n<p>Tudo bem? Estamos passando para lembrar da sua consulta agendada para <strong>amanhã, dia {{ $json.Data.split('-').reverse().join('/') }}</strong> às <strong>{{ $json.Hora }}</strong> com o(a) Dr(a). <strong>{{ $json.Dentista }}</strong>.</p>\n<p>Por favor, clique em uma das opções abaixo para nos informar se você poderá comparecer:</p>\n\n<p style=\"margin: 25px 0;\">\n    <!-- BOTÃO DE CONFIRMAR -->\n<p style=\"margin: 25px 0;\">\n    <!-- BOTÃO DE CONFIRMAR -->\n    <a href=\"http://localhost:5678/webhook/f2217ae9-2d36-4d7d-bf5d-f1b9679d58eb?acao=confirmar&id_agendamento={{$json['ID Agendamento']}}&email={{$json.Email}}\"\n       target=\"_blank\"\n       style=\"background-color: #28a745; color: white; padding: 12px 20px; text-align: center; text-decoration: none; display: inline-block; border-radius: 8px; font-weight: bold; font-family: sans-serif; font-size: 14px; border: 1px solid #28a745; margin-right: 10px;\">\n        Sim, vou comparecer\n    </a>\n\n    <!-- BOTÃO DE CANCELAR -->\n    <a href=\"http://localhost:5678/webhook/f2217ae9-2d36-4d7d-bf5d-f1b9679d58eb?acao=cancelar&id_agendamento={{$json['ID Agendamento']}}&email={{$json.Email}}\"\n       target=\"_blank\"\n       style=\"background-color: #dc3545; color: white; padding: 12px 20px; text-align: center; text-decoration: none; display: inline-block; border-radius: 8px; font-weight: bold; font-family: sans-serif; font-size: 14px; border: 1px solid #dc3545;\">\n        Não posso, cancelar\n    </a>\n</p>\n</p>\n\n<p style=\"margin-top: 20px;\">Obrigado,<br>Equipe OdontoFlow</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1320,
        -160
      ],
      "id": "31cb779f-5520-4fcf-bbab-c79ecfc1e70c",
      "name": "Send Email",
      "webhookId": "4a1ba1b9-d2d5-4013-968e-31fb8ef98d37",
      "credentials": {
        "smtp": {
          "id": "2pC34Y85lrCuiCD1",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b58a1e00-5c6b-4fb8-bbb4-56edff793325",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bff82b9e64593f3b34bda6888dda9d7a23beebc62df8b5f530d7bf5814ccca70"
  },
  "id": "ji85netFUQFpCSpZ",
  "tags": [
    {
      "createdAt": "2025-07-13T19:08:37.389Z",
      "updatedAt": "2025-07-13T19:08:37.389Z",
      "id": "Ccsw4H8xCn9DcH9d",
      "name": "Despachante"
    }
  ]
}