backup 20-07-2025/Recepcionista.json
{
  "name": "Recepcionista",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Confirmação de Agendamento</title>\n    <style>\n        body { font-family: sans-serif; background-color: #f4f7f6; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }\n        .container { background-color: white; padding: 40px; border-radius: 12px; box-shadow: 0 4px 20px rgba(0,0,0,0.1); text-align: center; }\n        .icon { font-size: 48px; color: #28a745; }\n        h1 { color: #333; }\n        p { color: #666; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"icon\">✔</div>\n        <h1>Presença Confirmada!</h1>\n        <p>Obrigado por confirmar. Seu agendamento está garantido.</p>\n        <p><strong>Paciente:</strong> {{ $('Google Sheets').item.json.Paciente }}</p>\n        <p><strong>Data:</strong> {{ $('Google Sheets').item.json.Data.split('-').reverse().join('/') }} às {{ $('Google Sheets').item.json.Hora }}</p>\n    </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1180,
        -120
      ],
      "id": "93bc522b-60e8-4484-8d52-1e0feebb24ff",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hLeRmvHSWXUS9InLi_F0NYvQBVHyayxZM_Ll7Mm8E9A/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agendamentos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLeRmvHSWXUS9InLi_F0NYvQBVHyayxZM_Ll7Mm8E9A/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Agendamento",
              "lookupValue": "={{ $json.query.id_agendamento }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "e4a968ca-bf31-47a0-bc6b-473ce1ea57d3",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LDQgaDGxcuGGtKO0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "{{ $json.query.acao }}",
                    "rightValue": "Confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "11df5fbf-f0d6-4510-b4d0-6535f2f63d50"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c45261e1-f42d-436a-8dd0-ddaa7e058eb0",
                    "leftValue": "={{ $json.query.acao }}",
                    "rightValue": "Cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        0
      ],
      "id": "07ac9402-f0ea-487d-9e18-bbc0589d8a94",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Cancelamento de Agendamento</title>\n    <style>\n        body { font-family: sans-serif; background-color: #f4f7f6; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }\n        .container { background-color: white; padding: 40px; border-radius: 12px; box-shadow: 0 4px 20px rgba(0,0,0,0.1); text-align: center; }\n        .icon { font-size: 48px; color: #dc3545; }\n        h1 { color: #333; }\n        p { color: #666; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"icon\">✖</div>\n        <h1>Agendamento Cancelado</h1>\n        <p>Sua consulta foi cancelada com sucesso, conforme sua solicitação.</p>\n        <p>Se desejar remarcar, por favor, entre em contato com a clínica.</p>\n    </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1180,
        140
      ],
      "id": "99c0a019-07bd-4db3-b988-5e2c675b028f",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hLeRmvHSWXUS9InLi_F0NYvQBVHyayxZM_Ll7Mm8E9A/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agendamentos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLeRmvHSWXUS9InLi_F0NYvQBVHyayxZM_Ll7Mm8E9A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Confirmado",
            "ID Agendamento": "{{ $json['ID Agendamento'] }}",
            "ID Google": "{{ $json['ID Agendamento'] }}"
          },
          "matchingColumns": [
            "ID Agendamento"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Paciente",
              "displayName": "Paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dentista",
              "displayName": "Dentista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Procedimento",
              "displayName": "Procedimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Convênio",
              "displayName": "Convênio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Convênio",
              "displayName": "ID Convênio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data Criação",
              "displayName": "Data Criação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IP Cliente",
              "displayName": "IP Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Agendamento",
              "displayName": "ID Agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID Google",
              "displayName": "ID Google",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        680,
        -120
      ],
      "id": "69cef3bb-e6b7-44eb-b170-e62d120cd3f9",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LDQgaDGxcuGGtKO0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hLeRmvHSWXUS9InLi_F0NYvQBVHyayxZM_Ll7Mm8E9A/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agendamentos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLeRmvHSWXUS9InLi_F0NYvQBVHyayxZM_Ll7Mm8E9A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Cancelado",
            "ID Agendamento": "{{ $json['ID Agendamento'] }}"
          },
          "matchingColumns": [
            "ID Agendamento"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Paciente",
              "displayName": "Paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dentista",
              "displayName": "Dentista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Procedimento",
              "displayName": "Procedimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Convênio",
              "displayName": "Convênio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Convênio",
              "displayName": "ID Convênio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data Criação",
              "displayName": "Data Criação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IP Cliente",
              "displayName": "IP Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Agendamento",
              "displayName": "ID Agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        680,
        140
      ],
      "id": "5e0cbb71-3a0e-4c35-9ee0-9642174aa737",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LDQgaDGxcuGGtKO0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "d2cf04cb8237a7f7c17b6eabc6a8710031dd12ee9ad4bc62cd6b635a6a514920@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Clínica (teste)"
        },
        "eventId": "={{ $json['ID Google'] }}",
        "updateFields": {
          "attendeesUi": {
            "values": {
              "mode": "replace",
              "attendees": [
                "={{ [\n    { \"email\": $json.Email, \"responseStatus\": \"accepted\" },\n    { \"email\": \"manuelpnforce@gmail.com\", \"responseStatus\": \"accepted\" }\n  ]\n}}"
              ]
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        920,
        -120
      ],
      "id": "34737b7e-49cd-45de-bab3-6899e874bc85",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PDf0WplvBrdHjRCL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "d2cf04cb8237a7f7c17b6eabc6a8710031dd12ee9ad4bc62cd6b635a6a514920@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Clínica (teste)"
        },
        "eventId": "={{ $json['ID Google'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        920,
        140
      ],
      "id": "9880293e-c6fb-4fcf-95e8-168ee7e6be7c",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PDf0WplvBrdHjRCL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Fluxo de Recebimento \n**Recebe as respostas dos e-mails de confirmação e atualiza os agendamentos**",
        "height": 520,
        "width": 1500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        -200
      ],
      "typeVersion": 1,
      "id": "1f7552a4-7ca7-4b9e-9c1a-05c103c3ee9d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "path": "resposta-paciente",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        0
      ],
      "id": "8326f0a9-1fc3-44d9-8df2-cbf00aabe112",
      "name": "Webhook",
      "webhookId": "f2217ae9-2d36-4d7d-bf5d-f1b9679d58eb"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8de18e26-2e81-4fde-acce-72c0529386e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bff82b9e64593f3b34bda6888dda9d7a23beebc62df8b5f530d7bf5814ccca70"
  },
  "id": "eRmPTjiH1Uo2GT4t",
  "tags": [
    {
      "createdAt": "2025-07-13T19:27:27.604Z",
      "updatedAt": "2025-07-13T19:27:27.604Z",
      "id": "CLJ82Uv77Tt90WT4",
      "name": "Recepcionista"
    }
  ]
}